main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary_color;
    .container {
        width: calc(100% - 20%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
        border-bottom: 1px solid lightgrey;
        p {
            font-size: 30px;
            width: 70%;
            text-align: center;
            font-weight: bold;
            height: 120px;
        }
        .container-card {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin: 50px 0;
            .card {
                flex-basis: 30%;
                height: 300px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 20px 50px;
                img {
                    height: 160px;
                    padding: 25px;
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        img {
            height: 300px;
            padding: 40px 0;
        }

    }
}
section {
    width: 100vw;
    height: auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary_color;
    .container-first-section {
        width: 100vw;
        height: auto;
        display: flex;
        .left-section {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .right-section {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            h3 {
                width: 50%;
                font-size: 30px;
                padding: 10px 0;
            }
            img {
                height: 220px;
            }
            p {
                width: 50%;
                font-size: 20px;
                padding: 10px 0;
            }
            a {
                text-decoration: none;
                padding: 10px 0;
            }
            small {
                font-size: 25px;
                color: $button_bg;
                display: flex;
                align-items: center;
                i {
                    padding: 0 5px;
                    color: $button_bg;
                }
            }
        }
    }
    .container-second-section {
        width: 100vw;
        height: auto;
        display: flex;
        .right-section {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .left-section {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 280px;
            h3 {
                width: 80%;
                font-size: 30px;
                padding: 10px 0;
            }
            img {
                height: 220px;
            }
            p {
                width: 80%;
                font-size: 20px;
                padding: 10px 0;
            }
            a {
                text-decoration: none;
                padding: 10px 0;
            }
            small {
                font-size: 25px;
                color: $button_bg;
                display: flex;
                align-items: center;
                i {
                    padding: 0 5px;
                    color: $button_bg;
                }
            }
        }
    }
    .container-third-section {
        width: 100vw;
        height: auto;
        display: flex;
        .left-section {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .right-section {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            h3 {
                width: 50%;
                font-size: 30px;
                padding: 10px 0;
            }
            img {
                height: 220px;
            }
            p {
                width: 50%;
                font-size: 20px;
                padding: 10px 0;
            }
            a {
                text-decoration: none;
                padding: 10px 0;
            }
            small {
                font-size: 25px;
                color: $button_bg;
                display: flex;
                align-items: center;
                i {
                    padding: 0 5px;
                    color: $button_bg;
                }
            }
        }
    }
    .container-fourth-section {
        width: 100vw;
        height: auto;
        display: flex;
        .right-section {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .left-section {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 280px;
            h3 {
                width: 80%;
                font-size: 30px;
                padding: 10px 0;
            }
            img {
                height: 220px;
            }
            p {
                width: 80%;
                font-size: 20px;
                padding: 10px 0;
            }
            a {
                text-decoration: none;
                padding: 10px 0;
            }
            small {
                font-size: 25px;
                color: $button_bg;
                display: flex;
                align-items: center;
                i {
                    padding: 0 5px;
                    color: $button_bg;
                }
            }
        }
    }
}
